/**
* Theme Name: Kadetsky
* Author: Dmitry Kisel
* Version: 1.0
* License: GNU General Public License v2 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Text Domain
**/

@import 'https://fonts.googleapis.com/css?family=Ubuntu';

@font-face {
    font-family: 'Default';
    src:url(./fonts/Defaults.woff);
}

.test {
    font-size: 46px;
    background: linear-gradient(to left top, green, red);  /* подробнее про градиенты */
    -webkit-background-clip: text;  /* подробнее про background-clip */
    color: transparent;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin-top: -32px;
}

html,body,header {
    width:100%;
}

a, a:link, a:visited, a:visited:hover, a:hover {
    color:#000;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    font-size: 20px;
}

/* helpers */

h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;

}

i.dft{
    font-family: 'Default';
    font-size: 22px;
    font-style: normal;
}

i.dft-star:after {
    content:"\f005";
}
/* end helpers */


/* -- Header -- */

/* slider */

.theme-slider {
    position: relative;
}

.theme-slider, .theme-slider iframe  {
    box-sizing: border-box;
    border:none;
    width:100%;
    height: 600px;
}

.slider-stick {
    color:rgb(232, 181, 0);
    font-size: 22px;
    min-width: 385px;
    max-width: 385px;
    position: absolute;
    left: 237px;
    top: 411px;
    z-index: 5;
}

.slider-stick h2 {
    padding: 7px 11px;
    margin: 0;
    font-size: 47px;
    line-height: 50px;
    font-weight: 700;
}

.slider-stick h4 {
    font-size: 32px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    padding: 4px 7px;
}

/* end slider */


/* bottom header */

.header-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.header-bottom ul {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-: auto;
    height: 70px;
    justify-content: center;
}

.header-bottom li.menu-item {
    display: flex;
    padding: 8px 12px;
    position: relative;
}

.header-bottom li.menu-item a  {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.header-bottom li.menu-item a:before {
    position: absolute;
    content: "";
    width:100%;
    left: 0;
    opacity: 0;
    bottom:-45px;
    height:3px;
    background: linear-gradient(to left,#e58734 32%,#e8b727 100%);
    transition: 0.3s;
}

.header-bottom li.menu-item:hover a:before, .header-bottom li.menu-item.current-menu-item a:before {
    bottom: -7px;
    opacity: 1;
}

.header-bottom li.menu-item:hover a,
.header-bottom li.menu-item.current-menu-item a {
    background: linear-gradient(to left,#e58734 32%,#e8b727 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.top-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.top-phone-link {
        display: inline-block;
        font-weight: bold;
        font-size: 22px;
        padding-left: 18px;
        color: #d33030;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cpath fill='%23d33030' d='M11.323,14.62c-0.86,0.409-2.864,1.611-6.096-4.996C2.022,3.071,4.166,2.053,4.956,1.622C4.975,1.611,6.11,1.025,6.112,1.024l1.916,3.918L6.886,5.532C5.683,6.207,8.185,11.323,9.417,10.7c0.047-0.024,1.128-0.579,1.131-0.581l1.933,3.904C12.477,14.026,11.39,14.587,11.323,14.62z'/%3E%3C/svg%3E");
}


/* end top menu */


/* -- End -- */

/* -- Promo box --*/

.promo-box {
    background-color: rgb(242,242,242);
    padding-top: 50px;
}

.promo-box h2 {
    margin-bottom: 10px;
}

.star-delimiter {
    color:#dd9933;
    position: relative;
}

.star-delimiter .dft-star {
    font-size: 25px;
}

.star-delimiter:after{
    content: "";
    width: 75px;
    border-style: dotted;
    border-color: #dd9933;
    border-width: 0;
    border-bottom-width: 2px;
    position: absolute;
    top:50%;
    left:51%;
    bottom:50%;
}


.star-delimiter:before{
    content: "";
    width: 75px;
    border-style: dotted;
    border-color: #dd9933;
    border-width: 0;
    border-bottom-width: 2px;
    position: absolute;
    top:50%;
    right:51%;
    bottom:50%;
}
